.a_propos {
    clear:both;
    background-color: white;
    color:$deepBlue;
    @include span(15);
    float:none;
    padding-top:4.345em;

    div {
        @include span(11);
        float:none;
        margin:0 auto 2em;

        &:after {
            content :"";
            clear:both;
            display:block;
        }

        img{
            width:30%;
            float:right;
            border-radius: 50em;
            border:0.47375em solid $deepBlue;
        }

        p{
            width:60%;
            font-size:1.2em;
        }

        a {
            display:inline-block;
            margin-top:6em;
            width:18.181818%;
            text-align: center;
            text-decoration: none;
            color:$deepBlue;
            border:0.2em solid $deepBlue;
            padding:0.5em;
            border-radius: 0.6em;

            &:hover{
                background-color: $deepBlue;
                color:white;
                text-decoration: underline;
            }
        }
    }
}
