@media screen and (max-width: 1599px) {
  	.head{
  		div h1 {
        margin-right:2em;
      }

      div a {
    		font-size:100%;
  		}
      
  		nav a {
  			padding:0.79em 0.4em;
  		}

  	} 
    
    .real div li a.img span {
      font-size:175%;
    }

  	.skills div li img{
  		border:0.35em solid $deepBlue;
  	}

  	.contact div li img{
  		border:none;
  	}

  	.contact div li a span{
  		font-size:150%;
  	}
  
}

@media screen and (max-width: 1299px) {
  .head{
    div h1 {
      display:block;
    }
  } 

  .wrapper {
    padding-top:8em;
    padding-bottom:6em;
  }

  .propos {
    div {
      
      a {
          margin-top:3em;
      }
    }
  }


  .realisations div li a span{
    font-size:150%;
  }

  .contact div li img{
    border:none;
  }
  
  .contact div li a span{
    font-size:110%;
  }

}

@media screen and (max-width: 959px) {
  .head{
    div h1 {
      display:inline-block;
    }
  } 

}